@charset "utf-8";
:root { 
	font-size: 62.5%;
	font-family: 'Russo One', 'Josefin Sans', sans-serif;
  }

body {
	margin:0;
	padding: 2%;
}

.center {
	max-width:800px;
	left:0px;
	right:0px;
	margin: 0 auto;
	position:relative;
	height:100%;
	text-align: center;
	display:flex !important;
	flex-flow:column;
	border: 1;
}
.center * {
	text-overflow: ellipsis;
	max-width: 800px;
	overflow:hidden;
	flex:0 0 auto;
}


.icon {
	margin:20px auto 20px;
	width:128px;
	height:128px;
	opacity:0.1;
	-webkit-user-select:none;
	user-select:none;
}

h1 {
	font-weight: normal;
	border-bottom: 1px solid #dfdfdf;
	padding:8px;
	margin-bottom: 30px;
	-webkit-animation: fadeIn 1.5s;
	animation: fadeIn 1.5s;
}
p {
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;
}
a {
	text-decoration: none;
	color:inherit;
	font-size: 0.8em;
	opacity:0.8;
}
a:hover {
	color:#000;
	opacity:1;
}
.access {
	margin-top: 20px;
	font-size: 0.8em;
	-display:none;
	opacity:0.8;
	cursor:pointer;
	display:none;

}
.access:hover {
	color:#000;
	opacity:1;
}