

body.chongluadao{
  font-family: "Helvetica Narrow", "Helvetica Neue", "Helvetica", "Open Sans",
    Arial, "sans-serif"!important;
  margin: 0;
  padding: 0;
}
#chongluadaoBlocking {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  color: #666;
  font-size: 15px;
}

#chongluadaoBlocking .header h1{
  display: flex;
    justify-content: center;
    align-items: center;
}

#chongluadaoBlocking .header h1 img { margin-right: 15px; }

#chongluadaoBlocking .container {
  width: 100%;
  max-width: 800px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  /* text-align: center; */
  display: flex !important;
  flex-flow: column;
}
#chongluadaoBlocking .container ol li {
  margin-bottom: 1rem;
}
#chongluadaoBlocking .container ol { margin-bottom: 2rem; margin-top: 1rem; }
#chongluadaoBlocking .center * {
  text-align: center;
}
#chongluadaoBlocking .center *:nth-last-child(2) {
  flex: 1 0 auto;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#chongluadaoBlocking h1 {
  font-size: 1.4em;
  /* font-weight: normal; */
  /* border-bottom: 1px solid #dfdfdf; */
  padding: 8px;
  margin-bottom: 30px;
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
#chongluadaoBlocking p {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  line-height: 1.3!important;
}
#chongluadaoBlocking a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
  opacity: 0.8;
}
#chongluadaoBlocking a:hover {
  color: #000;
  opacity: 1;
}

#chongluadaoBlocking ol li {
  list-style-position: inside;
}

#chongluadaoBlocking .logo {
  display: inline-block;
}

#chongluadaoBlocking .warning-icon {
  margin: 0 auto;
  padding: 2em 0;
  width: 7em;
  height: 7em;
}

#chongluadaoBlocking .header h1 {
  font-style: bold;
}

#chongluadaoBlocking .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
#chongluadaoBlocking .app-btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 6px 24px!important;
  text-decoration: none;
  line-height: 1!important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  height: 38px;
}

#chongluadaoBlocking .app-btn:active {
  position: relative;
  top: 1px;
}

#chongluadaoBlocking .app-btn.danger {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border: 1px solid #942911;
  text-shadow: 0px 1px 0px #854629;
}
#chongluadaoBlocking .app-btn.danger:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
#chongluadaoBlocking .app-btn.success {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
}
#chongluadaoBlocking .app-btn.success:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
