:root { 
  font-size: 62.5%;
  font-family: 'Russo One', 'Josefin Sans', sans-serif;
}
html {
  height: 350px;
}
body {
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 350px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
#plugin_name {
  width: 33rem;
  margin: 0 0;
  background-color: #231F20;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h6 {
  font-size: 1rem;
  margin: 0;
}

h2 {
  
  text-align: center;
  font-size: 1.5rem;
}
h1 {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}
#features {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding: 1rem;
}
#features > li {
  border-radius: 2rem;
}
#reports {
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
#domain_url {
  margin-top: 2rem;
  padding: 0 1rem;
}
.rounded-circle {
  background: #58bc8a;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  clear: both;
  align-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
#site_score{
  color: white;
  font-weight: bold;
  margin-left: 0.3rem;
  text-align: center;
  font-size: 4rem;
}
#site_msg{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.2rem;
  display: inline-block;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  color: #fff;
}

iframe {
  margin: 1rem;
  display: inline-block;
}

a {
  text-align: center;
  display: block;
  color: #195975
}