:root { 
  font-size: 62.5%;
  font-family: 'Russo One', 'Josefin Sans', sans-serif;
}
#plugin_name {
  width: 33rem;
  margin: 0 0;
  background-color: white;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(23,217,3);
  background: linear-gradient(90deg, rgba(23,217,3,1) 0%, rgba(255,255,255,1) 50%, rgba(23,217,3,1) 100%);
}
h6 {
  font-size: 1rem;
  margin: 0;
}

h2 {
  
  text-align: center;
  font-size: 1.5rem;
}
h1 {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}
.detail-content {
  display: flex;
}
.collapsible {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  width: 10rem;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.active, .collapsible:hover {
  background-color: #39c881;
}
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 2px;
}
.active:after {
  content: "\2212";
}
.feature-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#features {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0;
}
#features > li {
  border-radius: 2rem;
}
#reports {
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
#domain_url {
  margin: 1rem 0;
  padding: 0 1rem;
}
.rounded-circle {
  background: #28a745;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  clear: both;
  align-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#site_score{
  font-weight: bold;
  margin-left: 0.3rem;
  text-align: center;
}
.site_message.warning , .score.warning {
  color: #cc0000;
}
.site_message.safe , .score.safe {
  color: #28a745;
}
#site_msg{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.2rem;
  display: inline-block;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  color: #fff;
}

iframe {
  margin: 1rem;
  display: inline-block;
}

a {
  text-align: center;
  display: block;
  color: #195975
}
